.list-container {
  .list-table {
    tr {
      td {
        button.boot-btn {
          width: 180px;
          height: 33px;
        }
      }
      .tips {
        color: #d00;
      }
    }
  }
}
