html {
  font-size: 14px;
  background-color: #f3f5f7;
  color: #333;
}

body {
  margin: 0;
}

html,
body,
#root,
.container {
  height: 100%;
  min-width: 1200px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  outline: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

div {
  box-sizing: border-box;
}

i {
  font-style: normal;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.list-container {
  height: 100%;
  padding: 20px;
  min-width: 1200px - 200px - 20px;
  overflow: auto;
  .list-table {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    tr {
      height: 60px;

      &:nth-child(odd) {
        background-color: #efefef;
      }

      th {
        font-size: 16px;
      }

      td {
        img {
          width: 120px;
          margin: 10px 0;
          vertical-align: middle;
        }
        &.courseName {
          width: 300px;
          padding: 15px;
        }

        .boot-btn {
          width: 80px;
          height: 33px;
        }
      }
    }
  }
}
