.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  min-width: 1200px;
  overflow-x: scroll;

  height: 60px;
  padding: 0 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
