// 宽600高250背景fff，阴影1 3 5 999 圆角20，全屏居中
.login-wrapper {
  width: 600px;
  height: 250px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 1px 3px 5px #999;
  border-radius: 20px;
}
